<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert-error">
      <h3><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li class="text-error"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<form class="form-horizontal">
  <div class="control-group">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="control-group">
    <%= f.label :password, class: "control-label"%><br/>
    <%= f.password_field :password %>
  </div>
  <div class="control-group">
    <%= f.label :password_confirmation, class: "control-label"%><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
</form>  
<% end %>
