<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div class="alert-error">
      <h3><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h3>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name,:class => "control-label" %>
    <div class="controls">  
    <%= f.text_field :name, size: 40, :class =>"text_field"%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address, :class => "control-label" %>
    <div class="controls">
    <%= f.text_area :address, rows: 3, cols: 40, :class =>"text_field" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => "control-label" %>
    <div class="controls">
    <%= f.email_field :email, :class =>"text_field" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :pay_type, :class => "control-label" %>
    <div class="controls">
    <%= f.select :pay_type, Order::PAYMENT_TYPES,
      prompt: 'Select a payment method' %>
  </div>
    </div>
   <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                store_index_path, :class => 'btn' %>
<% end %>
